#app{
	width: 1000px;
	margin:120px auto;
	background: skyblue;

}
table{
	width: 80%;
	margin: auto;
	border: 1px solid;
	text-align: center;
}

table td{
	width: 50px;
	display: inline-block;
	margin:2px 40px;
}
