body{
    background:#d5d5d5;
    text-align:center;
}
.signin{
    background:white;
    width:400px;
    height:450px;
    margin:10% auto;
}
.signin .title{
    margin:0px auto;
    margin-top:20px;
    width:50%;
}
.signin input{
    height:6%;
    width:70%;
    margin:20px auto;
    display:block;
}
.signin button{
    border:0;
    width:70%;
    height:7%;
    background:#6c6c7b;
}
.signin a{
    display:inline-block;
    margin:10px 50px;
}
.denglu{
	margin:20px;
    width:10%;
}