.gerenziliao-box{
	margin: 80px auto;
	width: 60%;
	/* height: 400px; */
	background: white;
	opacity: 0.8;
	border:gray 0.6px solid;
	border-radius: 20px;
	text-align: left;
}
.gerenziliao-box div{
	width: 80%;
	margin: 10px 0 0 50px;
	border-bottom: gray 1px solid;
	padding-top: 20px;
}

.gerenziliao-box #gai{
	width: 70px;
	margin: 20px auto;
}
#bianji{
	display: block;
	position: relative;
	font-size: 16px;
	color: cornflowerblue;
	/* top: -20px; */
	right: 10px;
	width: 40px;
	/* float: right; */
	cursor: pointer;
}
a{
	position: relative;
	top:20px;
	float: right;
}
input{
	margin: 20px 0;
	width:200px;
	background: transparent;
}
.tiangerenziliao-box div{
	width: 60%;
	margin: 30px 0 0 50px;
	padding-top: 20px;
}
.tiangerenziliao-box{
	margin: 120px auto;
	width: 60%;
	height: 400px;
	background: white;
	opacity: 0.8;
	border:gray 0.6px solid;
	border-radius: 10px;
	text-align: center;
}
button{
	position: relative;
	bottom: 120px;
	color: white;
	outline: none;
    border:0;
    width:180px;
    height:25px;
    background:#69bbdc;
    margin-top:10px ;
    border-radius: 25px;
    transition: all 1s;
    cursor: pointer;
}
