@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
div{
	margin: 0 auto;
}
body{
	width: 100%;
	z-index: 0;
	overflow-x: hidden;
}
li{
	list-style: none;
	display: block;
}
.hold{
	width: 100%;
		background:black;
}
.title{
	width: 1200px;
	height: 30px;
	text-align: center;
}
.title li{
	color: burlywood;
	display: inline-block;
	margin: 2px 60px 0 60px;
}
a{
	text-decoration: none;
	color: #796c5b;
}